<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Personal Website{% endblock %}">
    <meta name="author" content="{% block meta_author %}Roman{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}django, bootstrap, web development{% endblock %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <title>
        {% block title %}
        {{ title|default:"Home Page" }}
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
</head>

<body>

{% block content %}
{% endblock %}


<footer class="py-4 bg-light mt-5 border-top">
    <div class="container text-center">
        <p>&copy; {% now "Y"%} Roman CSE. All rights reserved.</p>
        <!--        <ul class="list-inline mb-0">-->
        <!--            <li class="list-inline-item"><a href="/privacy/" class="text-muted">Privacy Policy</a></li>-->
        <!--            <li class="list-inline-item">&middot;</li>-->
        <!--            <li class="list-inline-item"><a href="/terms/" class="text-muted">Terms of Service</a></li>-->
        <!--        </ul>-->
    </div>
</footer>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% block scripts %}
{% endblock%}
{% block analytics %}
{% endblock %}
</body>
</html>
