<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {{ title|default:"Untitled Page" }}
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        {% block header %}
        {% endblock header %}
    </header>

    <main>
        {% block content %}
        <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}
    </main>

</body>

</html>