{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block header %}
<nav>
    <ul>
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>
{% endblock header %}

{% block content %}
    <h1>Welcome to my website!</h1>
    <p>Thanks for visiting my website. Here you'll find all sorts of great content about [insert topic].</p>
    <p>Feel free to explore the site, and don't hesitate to contact me if you have any questions or comments.</p>
{% endblock content %}