{% block home-section-home %}
{% load bootstrap_icons %}
<div id="home" class="container-fluid" style="padding:100px 20px;">
    <div class="row">
        <div class="col-sm d-flex justify-content-center">
            <div>
                <h2 class="text-dark">{{ user.intro }}</h2>
                <h5 class="text-dark">
                    {{ user.title }}<br/>
                </h5>
                <p>
                    {{ user.bio }}
                </p>

                I am currently working at
                <span class="fw-bold">{{ user.current_company }}</span> as a <span
                    class="fw-bold">{{ user.current_designation }}</span>
                <br/>
                <br/>
                <a href="https://www.linkedin.com/in/iamromandev/">
                    {% bs_icon 'linkedin' size='2em' %}
                </a>
                <a class="ms-2" href="https://github.com/iamromandev">
                    {% bs_icon 'github' size='2em' %}
                </a>
                <a class="ms-2" href="https://stackoverflow.com/users/2791067/roman">
                    {% bs_icon 'stack-overflow' size='2em' %}
                </a>
            </div>
        </div>
        <div class="col-sm center-block">

        </div>
    </div>
</div>
{% endblock home-section-home %}