<!--{% load static tailwind_tags %}-->
<!--{% load django_bootstrap5 %}-->
<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--{% tailwind_css %}-->

    <!--{% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}-->

    <title>
        {% block title %}
        {{ title|default:"Untitled Page [Bio]" }}
        {% endblock title %}
    </title>
</head>

<body>
<header>
    {% block header %}
    {% include 'header.html' %}
    {% endblock header %}
</header>

<main class="bg-black">
    {% block content %}
    <p>Placeholder text in base template. Replace with page content.</p>
    {% endblock content %}
</main>

<footer>
    {% block footer %}
    {% endblock footer %}
</footer>

</body>

</html>
