{% extends '_base.html' %}
{% block content %}
 <br>
  <div class="w-50" style="height: 300px; overflow-y: scroll;">
    <div id="section1" class="container-fluid bg-success ">
      <h4>C++</h4>
      <p>
          C++ is a general-purpose programming language and is widely used
          nowadays for competitive programming. It has imperative, object-oriented
          and generic programming features. C++ runs on lots of platforms like Windows,
          Linux, Unix, Mac etc.
      </p>
    </div>

    <div id="section2" class="container-fluid bg-secondary">
      <h4>Java</h4>
      <p>
          Java has been one of the most popular programming languages for many years.
          Java is Object Oriented. However, it is not considered as pure object-oriented
          as it provides support for primitive data types (like int, char, etc)
      </p>
    </div>

    <div id="section3" class="container-fluid bg-success">
      <h4>Python</h4>
      <p>
          Python is a high-level, general-purpose and a very popular programming language.
          Python programming language (latest Python 3) is being used in web development,
          Machine Learning applications, along with all cutting edge technology in Software
          Industry.
      </p>
    </div>
    <div id="section4" class="container-fluid bg-secondary">
      <h4>Javascript</h4>
      <p>
          JavaScript (JS) is the world's most popular lightweight, interpreted compiled
          programming language. It is also known as a scripting language for web pages.
          It can be used for Client-side as well as Server-side developments.
      </p>
    </div>
  </div>
{% endblock content %}