{% extends 'bio/_base.html' %}
{% block content %}
{% load bootstrap_icons %}
<div id="home" class="container-fluid" style="padding:100px 20px;">
    <div class="row">
        <div class="col-sm d-flex justify-content-center">
            <div>
                <h1 class="text-dark">Hi, I am Roman</h1>
                <h4 class="text-primary">Full Stack Developer</h4>
                <p>I am a Backend / Full Stack Developer. I am currently working at
                    <br> Skipper Hospitality as a Backend Developer</p>
                <br>
                <a href="https://www.linkedin.com/in/iamromandev/">
                    {% bs_icon 'linkedin' size='2em' %}
                </a>
                <a class="ms-2" href="https://github.com/iamromandev">
                    {% bs_icon 'github' size='2em' %}
                </a>
                <a class="ms-2" href="https://stackoverflow.com/users/2791067/roman">
                    {% bs_icon 'stack-overflow' size='2em' %}
                </a>
            </div>
        </div>
        <div class="col-sm center-block">

        </div>
    </div>
</div>
<div id="about" class="container-fluid" style="padding:100px 20px;">
    <h1 class="text-center">About</h1>
    <h4 class="text-primary">About me</h4>
    <p>
        I am a self-taught developer with experience in designing, developing and maintaining software applications.
        I take into consideration the user experience while writing reusable and efficient code.
        I passionately combine good design, technology, and innovation in all my projects.
        Currently, I am focused on the backend development.
    </p>
    <br>
    <h4 class="text-primary">Technologies and Tools</h4>
    <br>
    <div class="row">
        <div class="col-sm bg-green">
            {% custom_icon 'c' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'python' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'java' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'kotlin' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'js' size='3em' %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm bg-green">
            {% custom_icon 'html' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'css' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% bs_icon 'git' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% bs_icon 'github' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'postman' size='3em' %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm bg-green">
            {% custom_icon 'aws' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% bs_icon 'bootstrap-fill' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'mysql' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'postgresql' size='3em' %}
        </div>
        <div class="col-sm bg-green">
            {% custom_icon 'spring' size='3em' %}
        </div>
    </div>
</div>
<!--<div id="portfolio" class="container-fluid" style="padding:100px 20px;">
    <h1 class="text-center">Portfolio</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
</div>-->
{% endblock content %}